# Environnement virtuel Python (ne doit jamais être poussé sur GitHub)
venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers Streamlit temporaires
.streamlit/secrets.toml

# Fichiers système
.DS_Store
Thumbs.db